# 临时文件夹，不需要被git追踪管理
/tmp

# cygwin目录是其安装以及一大批构建 QGIS/OSGeo4W 所需的软件包，不需要被git追踪管理
/cygwin

# scripts目录中的一些可执行程序不需要被git追踪管理
/scripts/setup-x86_64.exe
/scripts/osgeo4w-setup.exe
/scripts/vs2022/*
/scripts/vs_BuildTools.exe

# 项目中的PDF不需要被git追踪管理
*.pdf

# src目录中有些文件是编译所需要而下载的，不需要被git追踪管理
/src/*/osgeo4w/osgeo4w/*
/src/*/osgeo4w/package.log
/src/qgis-ltr/qgis